html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei" !important;
    background-color: #efefef;
    overflow: hidden;
    user-select: none;
}

.sub-title {
    margin: 0;
    padding: 7px;
    border-bottom: 1px #000 solid;
    font-weight: bolder;
    clear: both;
    margin-top: 10px;
}

.f-audio-bg {
    background: #f8ff93;
}

.f-video-bg {
    background: #64f3aa;
}

.f-screen-bg {
    background: #c9d0ff;
}

.func {
    transition: all 0.5s;
    width: 130px;
    height: 50px;
    float: left;
    margin: 15px;
    border-radius: 5px;
    border: 1px #000000 solid;
    line-height: 45px;
    text-align: center;
    box-shadow: 2px 2px 3px #afafaf;
    cursor: pointer;
}

.func:hover {
    box-shadow: 2px 2px 3px #040404;
    background: #fff;
}

.func s {
    text-decoration: none;
}